<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>course detail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="{% url 'student:register' %}">Register</a></li>
      <li><a href="{% url 'student:details' %}">Details</a> </li>
      <li><a href="{% url 'student:course' %}">Course details</a></li>
      <li><a href="{% url 'student:entroll' %}">Entroll student to course</a></li>
    </ul>
    {% block content %}{% endblock content %}
  </div>
</nav>
    <div class="container">
    <h1>course name : {{course_info.title}} </h1>
    <h4>teacher : {{teacher.getTeacher}}</h4>
    <h4>time:{{teacher.time}}</h4>
    <h4>Entrolled students</h4>

       <table class="table">
           <tr>
               <th>PRN no </th>
               <th>First name </th>
               <th>Last name</th>
               <th>Department</th>

           </tr>

           <tr>
               <th>2016BTECS00072</th>
               <th>Utkarsh</th>
               <th>vadar</th>
               <th>computer science and engineering</th>
           </tr>
           <tr>
               <th>2016BTECS00071</th>
               <th>Gaurav </th>
               <th>Gavhane</th>
               <th>computer science and engineering</th>
           </tr>

       </table>
    </div>
</body>
</html>