<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="{% url 'student:register' %}">Register</a></li>
      <li><a href="{% url 'student:details' %}">Details</a> </li>
      <li><a href="{% url 'student:course' %}">Course details</a></li>
      <li><a href="{% url 'student:entroll' %}">Entroll student to course</a></li>
    </ul>
   
  </div>
</nav>
<div class="container">
    <h2>Courses</h2>
    <div classes="list-group">

        {% for c in course %}

        <a href="{% url 'student:course_detail' c.couese_id %}"  class="list-group-item">{{c.title}}

        {% endfor %}
    </div>
</div>
</body>
</html>